/data/**
/local/html/**
/local/output/**
node_modules
*.js
*.js.map
**/*.log
*.Rhistory
*.Rapp.history
*.RData
*.html
*.json
**/.idea/*
sandbox*
target
*.pdf
*.tex
*.fls
*/metastore_db
*.md
spark/**/target/**
spark/analytics/deps/**
.Rproj.user
